
@keyframes jump {
  20% {
    transform: rotate(-10deg);
  }
  50% {
    transform: scale(1.2) rotate(10deg);
  }

  80% {
    transform: scale(1.2) rotate(-10deg);
  }

  100% {
    transform: scale(1.2);
  }
}

.i-animation {
  &:hover {
    svg {
      animation: jump 0.3s forwards;
      transform-origin: center;
      transition: all ease;
    }
  }
}